
  <h1><%= @user.shelter_name %></h1>
  <h5><%= @user.address %></h5>
  <h5><%= @user.phone %></h5>
  <div class= "profile_new_dog"><h3 class= "my_dog_profiles">My Dog Profiles:</h3><%= link_to 'New Dog', new_dog_path, class: "button_new_dog btn btn-info" %></div>
  <div class= "all_dogs">
  <% @dogs.each do |d| %>
    <div class= "dog_list">
      <div class="dog_name"><%= d.name %></div>
      <%= link_to image_tag(d.url, class: "image"), dog_path(d.id) %>
      <%= link_to 'edit', edit_dog_path(d.id) %>
      <%= link_to 'delete', @dog, :method => :delete, :confirm => 'Are you sure?' %>
    </div>
      <% end %>
</div>

<%= link_to 'edit profile', edit_user_path %>
<%= link_to 'Back', users_path %>
<%= link_to 'Search', dogs_path %>
