
  <h1><%= @user.shelter_name %></h1>
  <div class="new_dog">
    <%= link_to 'New Dog', new_dog_path, class: "btn btn-default" %>
  </div>
  <h3>My Dog Profiles:</h3>
  <div class= "all_dogs">
  <% @dogs.each do |d| %>
    <div class= "dog_list">
      <div class="dog_name"><%= d.name %></div>
      <%= link_to image_tag(d.url, class: "image"), dog_path(d.id) %>
      <%= link_to 'edit', edit_dog_path(d.id) %>
      <%= link_to 'delete', @dog, :method => :delete, :confirm => 'Are you sure?' %>
    </div>
      <% end %>
</div>

<%= link_to 'edit profile', edit_user_path %>
<%= link_to 'Back', users_path %>
<%= link_to 'Search', dogs_path %>
